@model Web.UI.Client.Models.DetailsModel

@{
    ViewBag.Title = "DetailsView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron ">
    <div>
        <h2>Client Value</h2>
        <h2>Total Price</h2>
        <label for="totalMinuts">Total Minuts</label>
        <input id="totalMinuts" type="text" value="@Model.GetTotalMinutes()" />
        <label for="totalSMS">Total SMS</label>
        <input id="totalSMS" type="text" value="@Model.GetTotalSMS()" /><br>
        <label for="topNumber">Total Minuts of Top Number</label>
        <input id="topNumber" type="text" value="@Model.GetTotalMinutesTopNumber()" /><br>
        <label for="3topNumbers">Total Minuts of 3 Top Number</label>
        <input id="3topNumbers" type="text" value="@Model.GetTotalMinutesThreeTopNumber()" /><br>
        <label for="familyCalls">Total Minutes with family</label>
        <input id="familyCalls" type="text" value="@Model.GetTotalMinutesFamily()" />
    </div><br>
    <div>
        <h2>Recommendation</h2>
        <table>
            <tr>
                <th>Package Name</th>
                <th>Price</th>
            </tr>
            @foreach (var package in Model.RecommendedPackages)
            {
                <tr>
                    <td>@package.PackageName</td>
                    <td>@package.TotalPrice</td>
                </tr>
            }
        </table>
    </div>
</div>
